In [ ]:
!pip install plotly
!pip install cufflinks
!pip install chart_studio

In [4]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.offline import init_notebook_mode 
import cufflinks as cf 
cf.go_offline()
sales = pd.read_csv("sales_transactions (1).csv")
sales

,TransactionID,Date,City,CustomerID,CustomerType,Category,UnitsSold,UnitPrice,Revenue,Discount,SalesRep
0,T001,2024-01-15,Lagos,C001,New,Electronics,2,150000,300000,5000,Chuka Obasi
1,T002,2024-01-18,Abuja,C002,Returning,Appliances,1,85000,85000,0,Mary Felix
2,T003,2024-01-20,Port Harcourt,C003,New,Accessories,4,5000,20000,200,Abdul Salim
3,T004,2024-01-21,Lagos,C004,Returning,Electronics,1,160000,160000,3000,Chuka Obasi
4,T005,2024-02-01,Kano,C005,New,Appliances,2,90000,180000,4000,Mary Felix
...,...,...,...,...,...,...,...,...,...,...,...
105,T106,2024-03-05,Lagos,C046,New,Electronics,2,155000,310000,500,Abdul Salim
106,T107,2024-10-23,Port Harcourt,C061,Returning,Electronics,2,155000,310000,4000,Mary Felix
107,T108,2024-09-08,Port Harcourt,C070,New,Accessories,1,5500,5500,500,Mary Felix
108,T109,2024-02-10,Kano,C135,New,Electronics,2,150000,300000,200,Chuka Obasi
109,T110,2024-11-08,Lagos,C113,New,Electronics,2,162000,324000,7000,Mary Felix

In [ ]:
#1. What is the total revenue generated in the dataset?
sales["Revenue"].sum()

In [ ]:
#2. How many total transactions were recorded?
sales['TransactionID'].nunique()

In [ ]:
#3. How many distinct customers made purchases?
sales['CustomerID'].nunique()

In [ ]:
#4. What is the total revenue generated from Lagos alone?
sales[sales['City'] =='Lagos']['Revenue'].sum()

In [ ]:
#5. How many units of "Accessories" were sold in Abuja?
sales[(sales['City'] =='Abuja') & (sales['Category'] == 'Accessories')]['UnitsSold'].sum()

In [ ]:
#6. What is the average discount offered across all transactions?
sales['Discount'].mean()

In [ ]:
#7. What was the revenue for February 2024?
sales["Date"] = sales["Date"].astype("datetime64[ns]")

In [ ]:
sales["Month"] = sales["Date"].dt.to_period("M")

In [ ]:
sales["Month"]

In [ ]:
sales.groupby(["Month"])["Revenue"].sum().loc["2024-02"]

In [ ]:
#8. Which month had the highest sales revenue?
sales.groupby(["Month"])["Revenue"].sum().nlargest()

In [ ]:
#9. Create a measure to calculate monthly revenue trend
import matplotlib.pyplot as plt
sale = sales.groupby(sales["Date"].dt.to_period("M"))["Revenue"].sum().reset_index()
sale

In [ ]:
#10. What is the revenue split between New and Returning customers?

In [ ]:
#11. What is the average revenue per customer?
sales.groupby(['CustomerID'])['Revenue'].mean()

In [ ]:
#12. How many customers bought more than once?
repeat_customer = sales['CustomerID'].value_counts()
repeat_customer[repeat_customer>1].count()

In [ ]:
#13. Which product category generated the most revenue?
sales.groupby(['Category'])['Revenue'].sum().sort_values(ascending=False)

In [ ]:
#14. What is the average revenue per unit for Electronics?
sales = sales[sales['Category'] == 'Electronic']

In [ ]:
#15 Which sales rep generated the highest total revenue?
sales.groupby(['SalesRep'])['Revenue'].sum().sort_values(ascending=False)

In [ ]:
#16. Calculate total units sold by each sales rep.
sales.groupby(['SalesRep'])['UnitsSold'].sum()

In [ ]:
#17. Calculates revenue from Lagos only if the customer is "New". (New customers only)
sales[(sales["City"] == 'Lagos') & (sales['CustomerType'] == "New")]['Revenue'].sum()

In [ ]:
#18. Calculate the total revenue excluding transactions from Port Harcourt.
sales[sales['City'] != 'Port Harcourt']['Revenue'].sum()

In [ ]:
#19. Create a measure to calculate average units sold per transaction.
sales['UnitsSold'].mean()

In [ ]:
#20. Calculate the total discount value across all sales.
sales[(sales['Category']=='Electronics')&(sales['CustomerType']=='Returning')]['Revenue'].sum()

In [ ]:
sales ["Dates"] = sales ["Date"].astype("datetime64[ns]")

In [ ]:
sales ["Month"] = sales ["Dates"].dt.month_name()

In [ ]:
plt.figure(figsize=[14,8])
sns.lineplot (x="Month", y="Revenue",data=sales)
plt.title ("MONTHLY TREND" )
plt.show

In [ ]:
plt. figure(figsize=[8,6])
sns.barplot(x="Category",y="Revenue",data =sales, color="b")
plt.title("TOTAL REVENUE BY CATEGORY")
plt. show

In [ ]:
plt.figure(figsize=[8,6])
sns.barplot (x="City",y="Revenue",data =sales, color="b" )
plt.title("TOTAL REVENUE BY CITY")
plt. show

In [ ]:
sales.groupby(['SalesRep'])['UnitsSold'].sum().reset_index()

In [ ]:
sales.iplot(kind="pie", labels="SalesRep", values= "UnitsSold", colors = ["red", "green", "blue"],
title="PIE CHART FOR TOTAL UNITS SOLD BY SALES REP")

In [ ]:
plt.figure(figsize=[30,15])
plt.subplot (2,2,1)
sns.barplot (x="Category",y="Revenue", data =sales, color="b")
plt.title("TOTAL REVENUE BY CATEGORY")

plt.subplot(2,2,2)
sns.lineplot (x="Month" , y="Revenue",data =sales)
plt. title("MONTHLY TREND")

plt. subplot (2,2,3)
sns.barplot(x="City" ,y="Revenue", data =sales, color="b")
plt.title("TOTAL REVENUE BY CITY")